@import "_mixins.scss";
@import "_globals.scss";

body{
    background-color: #C4C4C4;
}

#wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    //background-color: #F3F3F3;
    overflow: hidden;
}

#outerContainer{
    background-color: #F3F3F3;
    width: 50%;
    height: 90%;
    //float: left;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 3.5%;
    padding: 5%;
    @include boxShadow(10px, 10px, 5px, #888888);
    @include borderRadius(15px);
}

.editWrapper{
    width: 100%;
}

.centerMe{
    width: 75%;
    margin: 0 auto;
}

.navbar-override{
    width: 75%;
    margin-left: 12.5%;
    @include boxShadow(10px, 10px, 5px, #888888);
    @include borderRadius(15px);
}