@import "_mixins.scss";
@import "_globals.scss";

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 1200px;
}

textarea {
    resize: none!important;
}

#lblJustification{
    word-break: break-all;
    max-height: 50px;
    overflow-y: auto;
}

.panel-body{
    overflow-y:auto;
    max-height: 300px;
}

// Set padding to keep content from hitting the edges
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2%;
    width: 100%;
}

.fixedPos {
    position: fixed;
    margin-left: 1.5%;
    display: inline-block;
    @include transform(translateZ(0));
}

.floatPos {
    float: left;
}

#kazlogo{
    height: 150%;
    width: 110%;
}

.divAddressBox{
    //white-space: nowrap;
    white-space:pre;
}

#txtBillAddress{
    height: 80px;
    width: 100%;
}

#txtShipAddress{
    height: 80px;
    width: 100%;
}

#mainForm{
    width: 50%;
}

#miniInvoice{
    width: 45%;
}

#lblVContactAddress{
    white-space: pre-wrap;
}

#hdnEditButton{
    float: left;
}

#hdnViewRecordButton{
    float: right;
}

.editBorder{
    border: 1px solid #0094ff;
}