/* Responsive Breakpoints
   ========================================================================== */
/* Sub-section comment block
   ========================================================================== */
/* Clearfix
  ========================================================================== */
/* Box Model
  ========================================================================== */
/* Border Radius
  ========================================================================== */
/* Opacity
  ========================================================================== */
/* Center-align a block level element
  ========================================================================== */
/* Text overflow
  ========================================================================== */
/* Absolute positioned
  ========================================================================== */
/* Font Size
  ========================================================================== */
/* Cross browser inline block
  ========================================================================== */
/* Text replacement (instead of text-indent)
  ========================================================================== */
/* Line Height
  ========================================================================== */
/* Placeholder
  ========================================================================== */
/* Responsive Breakpoints
   ========================================================================== */
/* Sub-section comment block
   ========================================================================== */
/* Clearfix
  ========================================================================== */
/* Box Model
  ========================================================================== */
/* Border Radius
  ========================================================================== */
/* Opacity
  ========================================================================== */
/* Center-align a block level element
  ========================================================================== */
/* Text overflow
  ========================================================================== */
/* Absolute positioned
  ========================================================================== */
/* Font Size
  ========================================================================== */
/* Cross browser inline block
  ========================================================================== */
/* Text replacement (instead of text-indent)
  ========================================================================== */
/* Line Height
  ========================================================================== */
/* Placeholder
  ========================================================================== */
.navbar {
  width: 100%;
  position: fixed;
  overflow: auto;
  text-align: center;
  display: inline-block;
  color: floralwhite;
  white-space: nowrap;
  font-size: xx-large;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.table thead > tr > .no-line {
  border-bottom: none; }
.table tbody > tr .thick-line {
  border-top: 2px solid; }
.table tbody > tr .no-line {
  border-top: none; }
.table tfoot > tr .no-line {
  border-top: none; }
.table tfoot > tr .thick-line {
  border-top: 2px solid; }

input, textarea, button {
  margin-top: 10px; }

.required-field-block {
  position: relative; }
  .required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-size: 75%;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: background 0.1s linear ;
    -webkit-transition: background 0.1s linear ; }
    .required-field-block .required-icon :after {
      position: absolute;
      content: "";
      right: 1px;
      top: 1px;
      z-index: -1;
      width: 0em;
      height: 0em;
      border-top: 0em solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 0em solid transparent;
      border-right-color: inherit;
      transition: border-color 0.2s ease ;
      -webkit-transition: border-color 0.2s ease ; }
    .required-field-block .required-icon .text {
      color: #B80000;
      font-size: 26px;
      margin: -3px 0 0 12px; }

.padding-error {
  padding-top: 20px; }

@media only screen and (max-width: 767px) {
  .nofloat {
    float: none;
    padding: 10px 15px; } }
body {
  padding-top: 50px;
  padding-bottom: 20px; }

.body-content {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 2%;
  width: 1200px; }

.fixedPos {
  position: fixed;
  margin-left: 35%;
  width: 700px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.floatPos {
  float: left;
  width: 700px; }

#kazlogo {
  height: 104px;
  width: 314px; }

.divAddressBox {
  white-space: pre; }

#txtBillAddress {
  height: 80px;
  width: 330px; }

#txtShipAddress {
  height: 80px;
  width: 330px; }

#mainForm {
  width: 600px; }

#miniInvoice {
  width: 700px; }

#lblVContactAddress {
  white-space: pre-wrap; }

#hdnEditButton {
  float: left; }

#hdnViewRecordButton {
  float: right; }

