@import "_mixins.scss";
@import "_globals.scss";

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

// Set padding to keep content from hitting the edges
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2%;
    width: 1200px;
}

.fixedPos {
    position: fixed;
    margin-left: 45%;
    width: 40%;
    @include transform(translateZ(0));
}

.floatPos {
    float: left;
    width: 40%;
}

#kazlogo{
    height: 150%;
    width: 125%;
}

.divAddressBox{
    //white-space: nowrap;
    white-space:pre;
}

#txtBillAddress{
    height: 80px;
    width: 100%;
}

#txtShipAddress{
    height: 80px;
    width: 100%;
}

#mainForm{
    width: 45%;
}

#miniInvoice{
    width: 40%;
}

#lblVContactAddress{
    white-space: pre-wrap;
}

#hdnEditButton{
    float: left;
}

#hdnViewRecordButton{
    float: right;
}