@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

#mainContainer {
    //width: 75%;
}

.navbar {
    //width: 65%;
    //margin-left: 19%;
    //box-shadow: 10px 10px 5px #888888;
    //border-radius: 15px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

// Set padding to keep content from hitting the edges
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

// Set padding to display errors that occur during databinding
.padding-error {
    padding-top: 20px;
}

.pageHeader {
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    color: floralwhite;
    white-space: nowrap;
    font-size: xx-large;
}

.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

// Invoice table
.table {
    thead > tr > .no-line {
        border-bottom: none;
    }
    tbody > tr {
        .thick-line {
            border-top: 2px solid;
        }
        .no-line {
            border-top: none;
        }
    }
    tfoot > tr {
        .no-line {
            border-top: none;
        }
        .thick-line {
            border-top: 2px solid;
        }
    }
}

.fixedPos {
    position: fixed;
    margin-left: 35%;
    width: 30%;
}

.floatPos {
    float: left;
    width: 50%
}

input, textarea, button { 
    margin-top:10px 
}

// Required field
.required-field-block {
    position: relative;
    
    .required-icon {
        display: inline-block;
        vertical-align: middle;
        margin: -0.25em 0.25em 0em;
        background-color: #E8E8E8;
        border-color: #E8E8E8;
        padding: 0.5em 0.8em; 
        color: rgba(0, 0, 0, 0.65);
        text-transform: uppercase;
        font-weight: normal;
        border-radius: 0.325em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: background 0.1s linear;
        -moz-transition: background 0.1s linear;
        transition: background 0.1s linear;
        font-size: 75%;

        :after {
            position: absolute;
            content: "";
            right: 1px;
            top: 1px;
            z-index: -1;
            width: 0em;
            height: 0em;
            border-top: 0em solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 30px solid transparent;
            border-left: 0em solid transparent;
            border-right-color: inherit;
            -webkit-transition: border-color 0.2s ease;
            -moz-transition: border-color 0.2s ease;
            transition: border-color 0.2s ease;
            }
        .text {
	        color: #B80000;
	        font-size: 26px;
	        margin: -3px 0 0 12px;
            }
        }
}
	
/*.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 10;
    margin: 0em;
    width: 30px;
    height: 30px;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}*/

// Mock textbox div with placeholder
div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #b3b3b3;
}