@*@using PurchaseOrder.Models;*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Purchase Order Editor</title>
    @Styles.Render("EditStyles")
    @*<link rel="stylesheet" type="text/css" media="all" href="~/Content/bootstrap.css" />*@
    @*<link rel="stylesheet" type="text/css" media="all" href="~/Content/editpage.css" />*@
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="~/Scripts/editPage.js"></script>
</head>
<body>
    <div id="outerContainer">
        <div id="leftList" class="list-column centerMe">
            <div class="innerListCol">
                <h3>Vendors</h3>
                <hr />
                <ol>
                    <li>Vendor Here</li>
                    <li>Vendor Here</li>
                    <li>Vendor Here</li>
                    <li>Vendor Here</li>
                    <li>Vendor Here</li>
                    <li>Vendor Here</li>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>