@*@using PurchaseOrder.Models;*@
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Purchase Order Editor</title>
    <link href="~/favicon_latest.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    @Styles.Render("~/bundles/editstyles")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top no-print navbar-override" data-page="edit">
        <div class="container">
            <div class="pageHeader">
                <span>Purchase Order Editor</span>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="outerContainer">
            <div id="dbTableTabs">
                <ul>
                    <li><a href="#dbTableTabs-1">Vendors</a></li>
                    <li><a href="#dbTableTabs-2">Products</a></li>
                    <li><a href="#dbTableTabs-3">Terms</a></li>
                </ul>
                <div id="dbTableTabs-1" class="tab">
                    <p></p>
                </div>
                <div id="dbTableTabs-2" class="tab">
                    <p></p>
                </div>
                <div id="dbTableTabs-3" class="tab">
                    <p></p>
                </div>
            </div>
            <div id="testdiv" style="display: none;"></div>
        </div>
    </div>
    <div id="tab1Form" title="Vendors" style="display: none;">
        <p>All form fields are required.</p>
        <form>
            <fieldset>
                <label for="vName">Vendor Name</label>
                <input type="text" name="vName" id="vName" value="" class="text ui-widget-content ui-corner-all" />
                <label for="vWebsite">Vendor Website</label>
                <input type="text" name="vWebsite" id="vWebsite" value="" class="text ui-widget-content ui-corner-all" />
                <label for="vAddress">Vendor Address</label>
                <input type="text" name="vAddress" id="vAddress" value="" class="text ui-widget-content ui-corner-all" />
                <label for="vComment">Vendor Comments</label>
                <input type="text" name="vComment" id="vComment" value="" class="text ui-widget-content ui-corner-all" />
            </fieldset>
            <fieldset>
                <label for="cName">Contact Name</label>
                <input type="text" name="cName" id="cName" value="" class="text ui-widget-content ui-corner-all" />
                <label for="cTitle">Contact Title</label>
                <input type="text" name="cTitle" id="cTitle" value="" class="text ui-widget-content ui-corner-all" />
                <label for="cPhone">Contact Phone</label>
                <input type="text" name="cPhone" id="cPhone" value="" class="text ui-widget-content ui-corner-all" />
                <label for="cExt">Contact Ext</label>
                <input type="text" name="cExt" id="cExt" value="" class="text ui-widget-content ui-corner-all" />
                <label for="cFax">Contact Fax</label>
                <input type="text" name="cFax" id="cFax" value="" class="text ui-widget-content ui-corner-all" />
                <label for="cEmail">Contact Email</label>
                <input type="text" name="cEmail" id="cEmail" value="" class="text ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>
    <div id="tab2Form" title="Products" style="display: none;">
        <form>
            <fieldset>
                <label for="pName">Product Type</label>
                <input type="text" name="pName" id="pName" value="" class="text ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>
    <div id="tab3Form" title="Payment Terms" style="display:none;">
        <fieldset>
            <label for="tNameShort">Term short</label>
            <input type="text" name="tNameShort" id="tNameShort" value="" class="text ui-widget-content ui-corner-all" />
            <label for="tNameFull">Term full</label>
            <input type="text" name="tNameFull" id="tNameFull" value="" class="text ui-widget-content ui-corner-all" />
        </fieldset>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/javascript")
</body>
</html>